<li><%= link_to "Home",   '/user_home' %></li>
<li><%= link_to "Manage Users", '/users' %></li>
<li><%= link_to "Practice Questions", '/questions' %></li>
<li><%= link_to "View Books", '/books' %></li>
<li><%= link_to "Manage Books", '/books/manage' %></li>
<li><%= link_to "Write Questions", '/questions/new', :method => :get %></li>
<li><%= link_to "Logout", '/logout' %></li>