<!DOCTYPE html>
<html lang="en">
  <head>
    <title>ReadingBowl</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <!--[if lt IE 9]>
    <script src="//cdnjs.cloudflare.com/ajax/libs/html5shiv/r29/html5.min.js">
    </script>
    <![endif]-->
    <%= favicon_link_tag asset_path('favicon.png') %>
  </head>

  <body>
    <%= render 'layouts/navbar' %>

    <div class="container">
      <div class="row">
        <% flash.each do |name, msg| -%>
          <%= content_tag :div, msg, class: "alert alert-#{name}" %>
        <% end -%>
      </div>

      <br>

      <%= yield %>

    </div>
  </body>
</html>
